.colorPrincipal {
  background-color: midnightblue; }

/* MAPA */
.whatsapp--whatsapp {
  background-color: lightgreen; }

.whatsapp--logoig {
  background-color: #a42a3e; }

.whatsapp--gmail {
  background-color: red; }

/* GET-MAPA */
.tituloContacto {
  background-color:gray;
  font-size: 20px; }

/* EXTEND */
.boton__presupuesto, .boton__presupuesto--green {
  width: 250px;
  height: 50px;
  background-color: darkslategray;
  border-radius: .5em;
  cursor: pointer; }

.boton__presupuesto--green {
  background-color: green; }

/* MIXIN */
.logoFooter {
  width: 100px;
  height: 100px; }

html {
  font-size: 62,5%;
  background-color: #cecbc8;
  font-family: 'Montserrat', sans-serif; }

.imgFluid {
  width: 100%;
  height: auto; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: lightgray; }

header {
  position: 0;
  top: 0; }

.logo {
  width: 140px;
  height: 140px; }

.carousel1 {
  width: 100vw; }

.carousel2 {
  width: 100vw; }

.carousel3 {
  width: 100vw; }

.logoIg {
  width: 30px;
  grid-area: footer; }

.whatsapp {
  width: 30px;
  grid-area: footer; }

.gmail {
  width: 30px;
  grid-area: footer; }

.logoFooter {
  width: 100px;
  height: 100px; }

.contenedorInicio {
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: 200px, 200px;
  grid-template-rows: 200px, 300px, 200px 
 grid-template-areas
 "menu menu"
 "galeria galeria"
 "footer footer"; }

.titulo__Clases {
  padding: 10px;
  margin: 0px 10px; }

.titulo__Clases {
  color: #0e1012; }

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

* {
  font-family: 'Courier New', Courier, monospace; }

.contenedorClases {
  width: 100%;
  margin: auto; }

img {
  width: 100%; }

.header__contenido {
  position: relative;
  z-index: 100; }

.bannerClases {
  height: 50vh;
  position: relative;
  background: url(../CSS/Multimedia/equipo4.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.banner-Descripcion {
  position: absolute;
  text-align: center;
  color: #585555;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 40px;
  margin-top: 25px; }

.clases-body {
  background-color: lightgray; }

.clases-Titulo {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin: 25px; }

.Clases-individuales {
  font-size: 35px;
  font-weight: bold;
  color: gray; }

.clasesInd-descripcion {
  font-size: 25px;
  font-weight: bold;
  color: black; }

.Clases-grupales {
  font-size: 35px;
  font-weight: bold;
  color: gray; }

.clasesGrup-descripcion {
  font-size: 25px;
  font-weight: bold;
  color: black; }

.Clases-torneos {
  font-size: 35px;
  font-weight: bold;
  color: gray; }

.clasestor-descripcion {
  font-size: 25px;
  font-weight: bold;
  color: black; }

.clases {
  padding: 35px;
  margin: 0 auto; }

.boton__presupuesto--green {
  position: inherit;
  margin: auto; }

.boton__presupuesto, .boton__presupuesto--green {
  width: 250px;
  height: 50px;
  background-color: darkslategray;
  border-radius: .5em;
  cursor: pointer; }

.boton__presupuesto--green:hover {
  background-color: black; }

.boton__presupuesto h1, .boton__presupuesto--green h1 {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: white; }

.boton__presupuesto--green {
  color: green;
  width: 250px;
  height: 50px;
  background-color: darkslategray;
  border-radius: .5em;
  cursor: pointer;
  transition: background-color 1s;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 50px; }

.tituloProductos {
  padding: 10px;
  margin: 0px 10px; }

.tituloProductos {
  color: #0e1012; }

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

* {
  font-family: 'Courier New', Courier, monospace; }

.contenedorNosotros {
  width: 100%;
  margin: auto; }

img {
  width: 100%; }

.header_contenido {
  position: relative;
  z-index: 100; }

.banner {
  height: 50vh;
  position: relative;
  background: url(../CSS/Multimedia/fotocanchafinal.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.bannerDescripcion {
  position: absolute;
  text-align: center;
  color: black;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 20px;
  margin-top: 25px; }

.galeriaNosotros h1 {
  font-size: 30px;
  text-align: center; }

.galeriaNosotros {
  margin: 20px; }

.tituloContacto {
  padding: 10px;
  margin: 0px 10px; }

.tituloContacto {
  color: #0e1012; }

.dondeEstamos {
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
  padding-left: 10px; }

.formulario {
  border: 2px;
  border-style: dashed; }

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-columns: repeat 3, 1fr; } }

@media (min-width: 520px) {
  .banner h1 {
    font-size: 30px; }
  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr); } }

@media only screen and (max-width: 1245px) and (min-width: 1024px) {
  .contenedor {
    width: 1000px; }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    justify-content: space-around; } }

@media (min-width: 1024px) {
  .clases-Grid {
    display: grid;
    grid-template-columns: repeat(2);
    text-align: center; } }
